certifi>=2023.07.22
django-cache-memoize
django~=4.2
requests==2.32.2
sqlparse==0.5.0
urllib3==1.26.19
black==24.3.0
flake8==3.8.3
coverage==5.2
pyproject-flake8==0.0.1a3
pre-commit @ git+https://github.com/pre-commit/pre-commit.git
